name: Bygg og deploy

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  build:
    name: Bygg
    runs-on: ubuntu-latest
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # ratchet:actions/checkout@v4
        with:
          persist-credentials: false

      - name: Oppsett Java 21
        uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # ratchet:actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: maven

      - name: Bygg og test med Maven
        run: mvn package -B

      - name: Push docker image to GAR
        uses: nais/docker-build-push@3b44f7c419b9511ad7c8b72174b3cc078d570bed
        id: docker-build-push
        with:
          byosbom: target/classes/META-INF/sbom/application.cdx.json
          team: team-tiltak
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

  deploy-dev:
    name: Deploy til dev-gcp
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # ratchet:actions/checkout@v4
        with:
          persist-credentials: false

      - name: Deploy til dev-gcp
        uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1
        env:
          CLUSTER: dev-gcp
          RESOURCE: nais/dev-gcp.yml
          VAR: image=${{ needs.build.outputs.image }}

  deploy-prod:
    name: Deploy til prod-gcp
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: build
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # ratchet:actions/checkout@v4
        with:
          persist-credentials: false

      - name: Deploy til prod-gcp
        uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1
        env:
          CLUSTER: prod-gcp
          RESOURCE: nais/prod-gcp.yml
          VAR: image=${{ needs.build.outputs.image }}
