name: Monitor dependencies with Dependabot
on:
  push:
    branches:
      - main
    paths:
      - "pom.xml"
  workflow_dispatch:
jobs:
  dependabot:
    name: Monitor dependencies with Dependabot
    runs-on: ubuntu-latest
    permissions: # The Dependency Submission API requires write permission
      contents: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # ratchet:actions/checkout@v4
        with:
          persist-credentials: false
      - name: Submit Dependency Snapshot
        uses: advanced-security/maven-dependency-submission-action@fcd7eab6b6d22946badc98d1e62665cdee93e0ae # ratchet:advanced-security/maven-dependency-submission-action@v3
